$purple:  #96e /* #87c*/;
$gold: /* #ec5 */ #ec8;
$background: #040404;
$box: #222;
$border: #444;
$text-color: #d8d8d8;

@font-face {
    font-family: "PT Sans";
    src: url("/view/fonts/pt/PTS55F-webfont.woff") format("woff");
}
@font-face {
    font-family: "PT Sans";
    src: url("/view/fonts/pt/PTS75F-webfont.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "PT Sans";
    src: url("/view/fonts/pt/PTS56F-webfont.woff") format("woff");
    font-style: italic;
}
@font-face {
    font-family: "PT Sans";
    src: url("/view/fonts/pt/PTS76F-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "PT Serif";
    src: url("/view/fonts/pt/PTF55F-webfont.woff") format("woff");
}
@font-face {
    font-family: "PT Serif";
    src: url("/view/fonts/pt/PTF75F-webfont.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "PT Serif";
    src: url("/view/fonts/pt/PTF56F-webfont.woff") format("woff");
    font-style: italic;
}
@font-face {
    font-family: "PT Serif";
    src: url("/view/fonts/pt/PTF76F-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}


@media screen {

    /* Minimal update to accommodate smartphone-sized screens */
    @media (min-width: 800px) {
		body {
            max-width: 1000px;
        }
        #top_photo {
            display: none;
        }
	    #site_name, #site_name_header, #main_page {
		    margin-left: 220px;
        }
		#site_name_header {
            border-bottom: 1px solid $border;
        }
	    #left_bar, #left_photo {
		    width: 180px;
            float: left;
            clear: both;
        }
        #left_bar {
            padding-left: 10px;
            top: 175px;
        }
        #left_photo {
            top: 10px;
        }
        @media (min-height: 600px) {
	        #left_bar, #left_photo {
                position: fixed;
            }
        }
        @media (max-height: 599px) {
            #left_bar, #left_photo {
                position: absolute;
            }
        }
    }
    @media (max-width: 799px) {
        #site_name, #site_name_header, #left_bar {
            text-align: center;
        }
        #left_photo {
            display: none;
        }
        #left_bar {
            .label {
                display: none;
            }
            li {
                display: inline-block;
            }
            background: $box;
            border-top: 1px solid $border;
		    border-bottom: 1px solid $border;
        }
        #main_page {
            clear: both;
        }
        .extra {
            display: none;
        }
    }
    .images {
        text-align: center;
        img {
            display: block;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .gallery {
        text-align: center;
    }
    article h1 {
        font-size: 1.8em;
    }
    audio {
        width: 100%;
        display: block;
    }
    img {
        max-width: 100%;
    }
    .concert_meta a {
        font-weight: bold;
    }
    
	/* General style: adapted from old site */

	body {
		font-family: "PT Sans", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
		color: $text-color;
		margin: auto;
		background: $background;
		font-size: 1.1em;
        padding: 10px 20px;
	}

	a, a:hover, a:visited {
		color: $gold;
	}

	#site_name {
		background: $purple;
		clear: both;
		display: block;
	}
	#site_name_header {
        margin-top: 0;
		margin-bottom: 10px;
        padding-bottom: 5px;
        #title {
		    font-size: 1.5em;
		    font-weight: bold;
        }
		color: $purple;
        a, a:hover, a:visited {
		    color: $purple;
            text-decoration: none;
        }
	}

	#breadcrumbs {
		font-size: .8em;
	}

	#main_page {
		margin-bottom: 10px;
		padding-bottom: 10px;
		line-height: 1.5em;
		color: $text-color;
	}

/*	#main_page li {
		margin-top: 5px;
		margin-bottom: 5px;
	}
*/	
	#welcome {
		font-size: 32px;
		color: $gold;
		text-align: right;
		font-style: italic;
		padding: 0;
		
	}

	#footer {
		border-top: 1px solid $border;
		margin-top: 20px;
		font-size: .8em;
		clear: both;
	}

	hr {
		border-width: 0px;
		border-bottom: 1px solid $border;
		color: $text-color;
		padding: 0px;
		margin: 30px 0px 30px 0px;
	}

	dt {
		margin-top: .5em;
		font-family: "Pt Serif", Georgia, serif;
		color: $purple;
		font-size: 1.1em;
	}

	strong {
		color: $purple;
	}
	
	blockquote {
		font-family: "Pt Serif", Georgia, serif;
		font-style: italic;
		margin: 0px 2em 0px 1em;
		padding: 0px;
		padding-bottom: 1px;
		background: url("/view/images/big-close-quote.png") no-repeat bottom right;
		color: $text-color;
	}

	blockquote p {
		text-indent: 2em;
		padding: 0em 1em 0em 2em;
	}

	blockquote p:first-child {
		padding-top: 1em;
		margin-top: 0px;
		background: url("/view/images/big-open-quote.png") no-repeat top left;
	}
	
	blockquote em {
		font-style: normal;
	}
	
	table {
		text-align:  left;
	}
	td {
		padding: 10px;
		vertical-align:  top;
	}


	.label,h1,h2,h3,h4,h5,h6 {
		font-family: "PT Serif", Georgia, serif;
		font-weight: bold;
		color: $purple;
        line-height: 1.1;

	}

	.label {
		font-size: 1.1em;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.text_right {
		text-align: right;
	}
	
	.smaller {
		font-size: .8em;
	}

	.right_col {
		width: 260px;
		padding: 0 0 0 20px;
		margin: 0 0 20px 20px;
		float: right;
		font-family: "PT Sans", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	}

	.right_col h2 {
		margin-top: 0;
	}

	.link_list, .link_list ul {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
	}
	
	.link_list li {
		margin: 0px;
	}
	
	.link_block li a {
		display:  block;
		padding: 4px 10px 4px 10px;
		text-decoration: none;
		color: $text-color;
	}
	
	.link_list a:hover {
		background: $box;
		color: $gold;
	}
	
	.list_lines li {
		border-bottom: 1px solid $border;
		display:  list-item;
	}
	
	.list_lines {
		border-top: 1px solid $border;
	}
	
	.left_col {
		display:  block;
		width: 320px;
		float:  left;
	}
	
	.indent {
		padding-left: 20px;
	}

	a.help {
		text-decoration: none;
		padding: 0px 2px 0px 2px;
		border: 1px solid $gold;
		font-family: "PT Sans", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
	}

	a.help:hover {
		border-color: $gold;
	}

	/* Music Library Style */

    .ml_list li:first-child {
        border-top: 1px solid $border;
    }
    
	.ml_listen {
		background: $box;
		padding: 5px 10px 5px 10px;
		border-bottom: 1px solid $border;
        clear: right;
        a {
            text-decoration: none;
        }
	}
	
	.link_list li.ml_listen a:hover {
		background: $box;
		color: $gold;
	}

	.ml_listen_filename {
		margin-right: 20px;
        font-style: italic;
        color: $gold;
	}

    .ml_download_link, #ml_autoplay_box {
        float: right;
        margin-left: 1em;
        font-size: 0.9em;
        display: inline-block;
    }

    #ml_autoplay_box {
        background: $box;
        border: 1px solid $border;
        padding: 5px 10px;
        input {
            color: $text-color;
            vertical-align: middle;
        }
        a {
            text-decoration: none;
        }
    }

	/* Blog style */

	.blog_post {
		margin: 30px 0 30px 0;
		background: $box;
		border-top: 1px solid $border;
		border-bottom: 1px solid $border;
	}

	.blog_post_title {
		margin: 0;
		padding: 10px 8px 3px 8px;
		color: $purple;
	}

	.blog_post_date {
		font-size: .8em;
		font-family: "PT Serif", Georgia, serif;
		padding: 0px 8px 3px 8px;
	}

	.blog_post_body {
		padding: 1px 10px 1px 10px;
		margin: 0 3px 0 3px;
		background: $background;
	}
	
	.blog_post_link {
		font-family: "PT Sans", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
		font-size: .8em;
		text-align: right;
		padding: 0 3px 0 3px;
	}

}
