<figure class="images">
  {% set cap = caption | markdown(inline=true) %}
  <a href="{{ path }}"><img alt="{{cap}}" title="{{cap | striptags}}" src="{{ resize_image(path=path, op="fit", width=1280, height=1280, quality=90) }}"></a>
  <figcaption>{{cap | safe}}</figcaption>
</figure>
