<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block html_title %}{% endblock html_title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link type="text/css" rel="stylesheet" href="{{config.base_url}}/view/css/symphwinds.css">
  </head>
  <body>
    <a href="{{config.base_url}}"><img id="left_photo" src="{{config.base_url}}/view/images/sdb.jpg"></a>
    <header id="site_name_header">
      <a href="{{config.base_url}}"><img id="top_photo" src="{{config.base_url}}/view/images/sdb.jpg"></a>
      <div id="title"><a href="{{config.base_url}}">{{config.title | safe}}</a></div>
      <div id="subtitle"><a href="{{config.base_url}}">{{config.extra.subtitle | safe}}</a></div>
    </header>
    <nav id="left_bar">
	  <div class="label">Archive</div>
      <ul class="link_list link_block">
        <li><a href="{{config.base_url}}/">About</a></li>
        <li><a href="{{config.base_url}}/bio/">SDB Bio</a></li>
        <li><a href="{{config.base_url}}/ensembles/">Ensembles</a></li>
        <li><a href="{{config.base_url}}/photos/">Photos</a></li>
        <li><a href="{{config.base_url}}/programs/">Programs & Notes</a></li>
        <li><a href="{{config.base_url}}/recordings/">Recordings</a></li>
        <li><a href="{{config.base_url}}/repertoire/">Repertoire</a></li>
        <li><a href="{{config.base_url}}/elsewhere/">Elsewhere</a></li>
        <li><a href="{{config.base_url}}/provenance/">Provenance</a></li>
        <!-- <li><a href="{{config.extra.repo_url}}">Website Sources</a></li> -->
      </ul>
    </nav>
    <article id="main_page">
      <h1>{% block page_title %}{% endblock page_title %}</h1>
      {% block content %}{% endblock content %}
      <footer id="footer">
	    &copy; 2000-2011, Steven Dennis Bodner, Williams Symphonic Winds and Opus Zero Band
      </footer>
    </div>
  </body>
</html>
