{% extends "base.html" %}

{% block html_title %}Photos: {{page.title | markdown(inline=true) | striptags}}{% endblock html_title %}
{% block page_title %}Photos: {{page.title | markdown(inline=true) | safe}}{% endblock page_title %}
{% block content %}
{{page.content | safe}}

<div class="gallery">
  {% for asset in page.assets %}
    {% if asset is matching("[.](jpg|jpeg|png|JPG|JPEG|PNG)$") %}
      <a href="{{ get_url(path=asset) }}"><img src="{{ resize_image(path=asset, width=180, height=180, op="fill") }}" /></a>
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}
