{% extends "base.html" %}

{% block html_title %}{{page.title}}{% endblock html_title %}
{% block page_title %}<em>{{page.title}}</em>{% endblock page_title %}
{% block content %}
<div class="concert_meta">
  {{ page.content | safe }}
</div>

<div id="ml_autoplay_box">
  <input id="autoplay" type="checkbox" checked>
  <label for="autoplay"><a href="#" onclick="toggle_autoplay(); return false;">&#x23ed; autoplay</a></label>
</div>

<script>
  var autoplay = document.getElementById("autoplay");
  function toggle_autoplay() {
      autoplay.checked = !autoplay.checked;
  }
  function cue(i, focus) {
      const audio = document.getElementById("audio_track_" + i);
      if (audio && autoplay.checked) {
          audio.play();
          if (focus) {
              audio.focus();
          }
      }
  }
  function plan(i) {
      const audio = document.getElementById("audio_track_" + i);
      if (audio) {
          audio.onended = (event) => {
              cue(i+1, audio == document.activeElement);
          }
      }
  }
</script>

<h3>Recordings</h3>

<ol class="ml_list">
  {% for asset in page.assets | sort %}
    {% if asset is matching("[.](mp3)$") %}
      {% set file = asset | split(pat="/") | last %}
      <li class="ml_listen">
        <a class="ml_download_link" href="{{ get_url(path=asset) }}" download="{{file}}">&#x2b07; download</a>
        <div class="ml_listen_filename">
          <a href="#" onclick="cue({{loop.index}}, true); return false;">{{ file | split(pat=" ") | slice(start=1) | join(sep=" ") | trim_end_matches(pat=".mp3") | replace(from="---", to="/") }}</a>
        </div>
        <audio id="audio_track_{{loop.index}}" controls preload="metadata" src="{{ file }}"></audio>
        <script>plan({{loop.index}});</script>
      </li>
    {% endif %}
  {% endfor %}
</ol>
{% endblock content %}
