{% extends "base.html" %}

{% block html_title %}{{section.title | markdown(inline=true) | striptags}}{% endblock html_title %}
{% block page_title %}{{section.title | markdown(inline=true) | safe}}{% endblock page_title %}
{% block content %}
{{section.content | safe}}
<ul>
  {% for p in section.pages | filter(attribute="date") | sort(attribute="date") | reverse %}
  <li><a href="{{p.permalink}}">{{p.title | markdown(inline=true) | safe}}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
